<link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
<link rel="manifest" href="images/site.webmanifest">

<meta name="msapplication-TileColor" content="#000000">
<meta name="msapplication-TileImage" content="images/mstile-144x144.png?v=M44lzPylqQ">
<meta name="msapplication-config" content="images/browserconfig.xml?v=M44lzPylqQ">
<meta name="theme-color" content="#ffffff">
<link rel="stylesheet" href="assets/css/academicons.css"/>

<script type="text/x-mathjax-config"> MathJax.Hub.Config({ TeX: { equationNumbers: { autoNumber: "all" } } }); </script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      processEscapes: true
    }
  });
</script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/latest.js?config=TeX-MML-AM_CHTML' async></script>

<!-- end custom head snippets -->

<!-- 为了移植publications所需的css和js文件 -->
<!-- CSS 文件 -->
<link rel="stylesheet" href="assets/css/picked.css">
<!-- <link rel="stylesheet" href="assets/css/bootstrap-toc.min.css">
<link rel="stylesheet" href="assets/css/bootstrap.min.css">
<link rel="stylesheet" href="assets/css/mdb.min.css"> -->

<!-- JavaScript 文件 -->
<!-- <script src="assets/js/_main.js"></script> -->
<!-- <script src="assets/js/bootstrap-toc.min.js"></script> -->
<!-- <script src="assets/js/bootstrap.bundle.min.js"></script> -->
<script src="assets/js/collapse.js"></script>
<script src="assets/js/main.min.js"></script>
<!-- <script src="assets/js/mdb.min.js"></script> -->
<!-- <script src="assets/js/toggle.js"></script> -->
<script src="assets/js/common.js"></script>

<!-- 插件 JavaScript 文件 -->
<!-- <script src="assets/js/plugins/jquery.fitvids.js"></script>
<script src="assets/js/plugins/jquery.greedy-navigation.js"></script>
<script src="assets/js/plugins/jquery.magnific-popup.js"></script>
<script src="assets/js/plugins/jquery.smooth-scroll.min.js"></script>
<script src="assets/js/plugins/stickyfill.min.js"></script> -->

<!-- 其他 JavaScript 文件 -->
<!-- <script src="assets/js/vendor/jquery/jquery-1.12.4.min.js"></script> -->
