---
layout: compress
---

<!doctype html>
<html lang="en" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}

    {% if page.url != '/_pages/pub/' %}
<!-- 如果URL是/_pages/pub/，则只会渲染文章内容，而不包括导航栏和侧边栏。对于其他页面，将正常渲染导航栏、侧边栏和文章内容。 -->
      {% include masthead.html %}
      <div id="main" role="main">
        {% include sidebar.html %}
    
        <article class="page" itemscope itemtype="http://schema.org/CreativeWork">
          {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
          <div class="page__inner-wrap">
            <section class="page__content" itemprop="text">
              {{ content }}
            </section>
          </div>
        </article>
      </div>
    {% else %}
      <div id="main" role="main">
        <article class="page" itemscope itemtype="http://schema.org/CreativeWork">
          {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
          <div class="page__inner-wrap">
            <section class="page__content" itemprop="text">
              {{ content }}
            </section>
          </div>
        </article>
      </div>
    {% endif %}

    {% include scripts.html %}

  </body>
</html>
